body {
	text-align: center;
}
header,
footer {
	background-color: #000;
	color: #fff;
	padding: 10px;
}

footer {
	font-size: 13px;
	letter-spacing: 1.5pt;
}

h1,
h2 {
	margin: 0;
}

h2, #currentdate {
	color: yellow;
}

main {
	margin: 10px auto;
	border: 1px solid #999;
	padding: 10px;
	max-width: 400px;
	background-color: #abe;
	box-shadow: 0 0 30px;
}

h3 {
	font-size: 24px;
	margin: 0 0 15px 0;
	border-bottom: 1px solid #333;
	padding: 0;
}

label {
	display: inline-block;
	margin: 2px;
	text-align: left;
}
input{
	margin: 2px;
	text-align:right;
}

.form{
	display:flex;
	flex-flow: row wrap;
	justify-content:space-between;
	align-content:space-between;
}
.right-align {
	flex: 50%;
}

#output {
	align-self: flex-end;
	text-align: right;
	flex:50%;
	color:green;
}
